name: Build All Hosts
on:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host:
          - t5610
          - x230t
          - m715q
          - iso
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14
        with:
          extra-conf: |
            extra-experimental-features = pipe-operators
      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8
      - name: Build ${{ matrix.host }}
        run: |
          nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel \
            --print-build-logs \
            --show-trace
      - name: Check closure size
        run: |
          nix path-info -Sh .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
